<div id="wrapper">
    {{> nav }}
    {{> menu-btn }}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
          {{> small-hero }}

            <!-- Main page content -->
              <!-- Category wrapped gallery -->
              {{#each category}}
              <div class="row category-gallery-wrapper category-wrapper-with-wrap animated fadeInUp">
                <div class="category-tab" id={{this.id}}>
                  <h4>{{this.name}}</h4>
                </div>

                    <div class="gallery-img-div category-div">

                      {{#each Posts}}
                      {{!-- Leave id declaration here --}}
                      <div class="item-img-div" id={{this.id}}>
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn" data-dismiss="modal" data-img="{{this.img_path}}" data-owner="{{this.owner_id}}" data-target="#openCollectModal{{this.id}}" data-toggle="modal">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src={{this.img_path}} data-target="#openPostModal{{this.id}}" data-toggle="modal"/>
                        </a>
                      </div>
                      {{/each}}

                    </div>
                </div>
              {{/each}}
              <!-- Category wrapped gallery -->
            <!-- Main page content -->

        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

{{!-- Begin Clicked Post Modal --}}
  {{> click-post }}
{{!-- End Clicked Post Modal --}}

{{!-- Begin 'Collect' Modal --}}
  {{> collect-post }}
{{!-- End 'Collect' Modal --}}
