<div id="wrapper">
    {{> nav }}
    {{> menu-btn }}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
          {{> small-hero }}
          {{#with category.0.Posts.0.User}}
                <!-- Main page content -->
                <!-- User Dashboard Info-->
                <div class="row user-dashboard">
                  <div class="user-div user-div-dashboard">
                    <img src={{this.image_path}} />
                  </div>

                  <div class="user-header-div">
                    <h1>Hey, I'm {{this.email}}</h1>
                    <h4>Collectr since 2017</h4>
                    <div class="user-dashboard-interests-list">
                      <p>
                        Interested in:
                      </p>
                      <ul>
                        <a href="#"><li>{{this.interests}}</li></a>
                        <a href="#"><li>Hats</li></a>
                        <a href="#"><li>Jewelry</li></a>
                        <a href="#"><li>Stamps</li></a>
                      </ul>
                    </div>
                    <div class="about-me-div">
                      <h2>About Me</h2>
                      <p>{{this.description}}</p>
                    </div>
                  </div>
                </div>

                <div class="row dashboard-gallery-header">
                  <h2>{{this.email}}'s Collections</h2>
                </div>
          {{/with}}
            <!-- User Dashboard Info-->

            <!--Test Button For Adding New Posts. Can be deleted later-->
            <button class='glyphicon glyphicon-plus' id='newPostBtn' data-target="#newPostModal" data-toggle="modal" style="padding: 10px;"> Post</button>

            <!-- Horizontal galleries -->
            {{#each category}}
              <div class="row category-gallery-wrapper animated fadeInUp">
                <a href='/category/{{this.id}}'>
                  <div class="category-tab" id={{this.id}}>
                    <h4>{{this.name}}</h4>
                  </div>
                </a>

                  <!-- Gallery Horizontal Scroll buttons -->
                  <div class="gallery-scroll-wrapper">
                    <a class="gallery-scroll-btn gallery-scroll-left">
                      <div class="scroll-btn-div">
                        <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                      </div>
                    </a>

                    <a class="gallery-scroll-btn gallery-scroll-right">
                      <div class="scroll-btn-div">
                        <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                      </div>
                    </a>

                  <!-- Gallery Horizontal Scroll buttons -->
                    <div class="gallery-img-div">
                    {{#each Posts}}
                    {{!-- Leave id declaration here --}}
                      <div class="item-img-div" id={{this.id}}>
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn" data-dismiss="modal" data-img="{{this.img_path}}" data-owner="{{this.owner_id}}" data-target="#openCollectModal{{this.id}}" data-toggle="modal">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#">
                          <img src={{this.img_path}} data-target="#openPostModal{{this.id}}" data-toggle="modal"/>
                        </a>
                      </div>

                    {{/each}}

                    </div>

                  </div>

              </div>

            {{/each}}
            <!-- Horizontal galleries -->

            <!-- Main page content -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

{{!-- Begin Clicked Post Modal --}}

  {{> click-post }}

{{!-- End Clicked Post Modal --}}

{{!-- Begin New Post Modal --}}

  {{> new-post }}

{{!-- End New Post Modal --}}

{{!-- Begin 'Collect' Modal --}}

  {{> collect-post }}

{{!-- End 'Collect' Modal --}}
