<div id="wrapper">
    {{> nav }}
    {{> menu-btn }}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
          {{> small-hero }}

            <!-- Main page content -->
            <!-- Group Users Div -->
            <div class="row group-users">
             {{#each user}}
              <a href="/user/{{this.id}}">
                <div class="user-div">
                  <img src={{this.image_path}} />
                </div>
                <div class="user-name-div">
                  <span class="user-name">{{this.email}}</span>
                </div>
              </a>
               {{/each}}
            </div>
            <!-- Group Users Div -->

            <!-- Category wrapped galleries -->
              <div class="row category-gallery-wrapper category-wrapper-with-wrap animated fadeInUp">
                    <div class="gallery-img-div category-div">
                     {{#each post}}
                      <div class="item-img-div" id={{this.id}}>
                        <a class="collect-btn-link">
                          <div class="collectr-btn" data-dismiss="modal" data-img="{{this.img_path}}" data-owner="{{this.owner_id}}" data-target="#openCollectModal{{this.id}}" data-toggle="modal">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a>
                          <img src={{this.img_path}} data-target="#openPostModal{{this.id}}" data-toggle="modal"/>
                        </a>
                      </div>
                      {{/each}}
                    </div>
                </div>

            <!-- Main page content -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

{{!-- Begin Clicked Post Modal --}}

  {{> click-post }}

{{!-- End Clicked Post Modal --}}

{{!-- Begin 'Collect' Modal --}}

  {{> collect-post }}

{{!-- End 'Collect' Modal --}}
