<div id="wrapper">
    {{> nav }}
    {{> menu-btn }}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
          {{> hero }}

            <!-- Main page content -->
            <!-- Horizontal galleries -->
            {{#each category}}
              <div class="row category-gallery-wrapper animated fadeInUp">
                <div class="category-tab" id='{{this.id}}'>
                  <h4>{{this.name}}</h4>
                </div>

                  <!-- Gallery Horizontal Scroll buttons -->
                  <div class="gallery-scroll-wrapper">
                    <a class="gallery-scroll-btn gallery-scroll-left">
                      <div class="scroll-btn-div">
                        <span class="glyphicon glyphicon-triangle-left" arira-hidden="true"></span>
                      </div>
                    </a>

                    <a class="gallery-scroll-btn gallery-scroll-right">
                      <div class="scroll-btn-div">
                        <span class="glyphicon glyphicon-triangle-right" arira-hidden="true"></span>
                      </div>
                    </a>
                  
                  <!-- Gallery Horizontal Scroll buttons -->
                    <div class="gallery-img-div">
                    {{#each Posts}}
                      <div class="item-img-div" data-target="#openPostModal{{this.id}}" data-toggle="modal">
                        <a href="#" class="collect-btn-link">
                          <div class="collectr-btn">
                            <img src="/assets/images/collectr-logo.svg" />
                            <span class="collectr-save">save</span>
                          </div>
                        </a>
                        <a href="#" id={{this.id}}>
                          <img src={{this.img_path}} />
                        </a>
                      </div>
                      
                      {{!-- Begin Clicked Post Modal --}}
                          <div class="modal fade postModal" id="openPostModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="openPostModalLabel{{this.id}}" aria-hidden="true" style="z-index: 20000;">
                            
                            <div class="modal-dialog" role="document">
                              
                              <div class="modal-content">
                                  
                                  <div class="modal-header">
                                      <h4 class="modal-title" id="postModalLabel">{{this.description}}</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  
                                  <div class="modal-body">
                                    <form>

                                        <div class="form-group">
                                            <img class="postImage" src='{{this.img_path}}' style='width: 100%; height: auto;'>
                                        </div>

                                        <div class="form-group">
                                              <label for="likeDislike" class="form-control-label">Like/Dislike</label>
                                              <button class='glyphicon glyphicon-heart' id='likeBtn'><span> {{this.upVote}}</span></button>
                                              <button class='glyphicon glyphicon-thumbs-down' id='dislikeBtn'><span> {{this.downVote}}</span></button>
                                        </div>

                                        <div class="form-group">
                                              <label for="collect" class="form-control-label">Collect</label>
                                              <button class='glyphicon glyphicon-pushpin' id='collectBtn'></button>
                                        </div>

                                    </form>
                                  </div>

                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>

                              </div>

                            </div>

                        </div>
                      {{!-- End Post Modal --}}

                    {{/each}}
                    
                    </div>

                  </div>

              </div>

            {{/each}}
            <!-- Horizontal galleries -->
            
              <!-- Wide feature div-->
              <a href="#">
                <div class="row blur-background" id="feature-pokemon">
                  <div class="wide-feature">
                    <h3>Discover:</h3>
                    <h1>Pokemon</h1>
                  </div>
                </div>
              </a>
              <!-- Wide feature div-->

            <!-- Main page content -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>

<!-- /#wrapper -->
