<div id="wrapper">
    {{> nav }}
    {{> menu-btn }}

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
          {{> hero }}

            <!-- Main page content -->
            <!-- Select Categories -->
            <div class="row categories-wrapper">
              <a href="/groups/apparel">
                <div class="select-category-div">
                  Apparel
                </div>
              </a>
              <a href="/groups/games">
                <div class="select-category-div">
                  Games and Toys
                </div>
              </a>
            </div>
            <div class="row categories-wrapper">
              <a href="/groups/history">
                <div class="select-category-div">
                  History
                </div>
              </a>
              <a href="/groups/music">
                <div class="select-category-div">
                  Music
                </div>
              </a>
            </div>
            <!-- Select Categories -->
            <!-- Main page content -->
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

{{!-- Begin Clicked Post Modal --}}
{{#each category}}
  {{#each Posts}}
      <div class="modal fade postModal" id="openPostModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="openPostModalLabel{{this.id}}" aria-hidden="true" style="z-index: 20000;">

        <div class="modal-dialog" role="document">

          <div class="modal-content">

              <div class="modal-header">
                  <h4 class="modal-title" id="postModalLabel">{{this.description}}</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>

              <div class="modal-body">
                <form>

                    <div class="form-group">
                        <img class="postImage" src='{{this.img_path}}' style='width: 100%; height: auto;'>
                    </div>

                    <div class="form-group">
                        <label for="tags" id="tagsFor{{this.id}}">Tags</label>

                        {{#each Post2Tags}}
                            {{#with Tag}}
                            {{!-- <a href='/tag/{{this.id}}'> --}}
                            <div class="tagDiv">
                              <a href="#">
                                <span>{{this.name}}</span>
                              </a>
                            </div>
                            {{/with}}
                        {{/each}}

                    </div>

                    <div class="form-group">
                          <label for="likeDislike" class="form-control-label">Like/Dislike</label>
                          <button class='glyphicon glyphicon-heart' value={{this.id}} data-name={{this.upVote}} id='likeBtn'><span> {{this.upVote}}</span></button>
                          <button class='glyphicon glyphicon-thumbs-down' value={{this.id}} data-name={{this.downVote}} id='dislikeBtn'><span>{{this.downVote}}</span></button>
                    </div>

                    <div class="form-group">
                          <label for="collect" class="form-control-label">Collect</label>
                          <button class='glyphicon glyphicon-pushpin' id='collectBtn' data-dismiss="modal" data-img="{{this.img_path}}" data-owner="{{this.owner_id}}" data-target="#openCollectModal{{this.id}}" data-toggle="modal"></button>
                    </div>

                    <div class="form-group">
                          <label for="ownerID">Owner</label>
                          <a>
                            {{#with User}}
                            <p>{{this.email}}</p>
                            {{/with}}
                          </a>
                    </div>

                    <div class="form-group">
                          <label for="categoryID">Category</label>
                          <a href="/category/{{this.category_id}}">
                            {{#with Category}}
                              <p>{{this.name}}</p>
                            {{/with}}
                          </a>
                    </div>

                </form>
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>

          </div>

        </div>

      </div>
  {{/each}}
{{/each}}
{{!-- End Clicked Post Modal --}}

{{!-- Begin New Post Modal --}}

    <div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModalLabel">

        <div class="modal-dialog" role="document">

          <div class="modal-content">

              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="newPostClose">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="newPostModalLabel">Add To My Collection</h4>

              </div>

              <div class="modal-body">

                  <form id="newPostForm">

                    <div class="form-group">
                      <label for="itemDescription">Item Description</label>
                      <input type="text" class="form-control" id="itemDescription" placeholder="Describe Your Item...">
                    </div>

                    <div class="form-group">
                      <label for="itemTags">Tag Your Treasure</label>
                      <input type="text" class="form-control" id="itemTags" placeholder="Ex: cute, cool, fun">
                    </div>

                    <div class="form-group">
                      <label for="postPicture">Upload Item Image</label>
                      <input type="file" id="itemImageUpload"><br>
                      <img id="newPostImage" src="" height="200" alt="Image preview..." name="postpic">
                    </div>

                    <div class="form-group">
                      <label for="categorySelection">Select Category: </label>
                      <select class="form-control" id="newPostCategory">
                        <option selected="true" disabled="disabled" value='Category...'></option>
                      {{#each category}}
                        <option value={{this.id}}>{{this.name}}</option>
                      {{/each}}
                      </select>
                    </div>
                  </form>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal" id="newPostModalCloseBtn">Close</button>
                      <button type="submit" class="btn btn-success" id="newPostSubmit">Collect!</button>
                  </div>

               </div>

          </div>

        </div>

    </div>

{{!-- End New Post Modal --}}

{{!-- Begin 'Collect' Modal --}}
{{#each category}}
  {{#each Posts}}
      <div class="modal fade collectModal" id="openCollectModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="openCollectModalLabel{{this.id}}" aria-hidden="true" style="z-index: 20000;">

        <div class="modal-dialog" role="document">

          <div class="modal-content">

              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" id="collectClose" data-id={{this.id}} aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="collectModalLabel">Collect Me!</h4>
              </div>

              <div class="modal-body">
                <form id="collectPostForm{{this.id}}">

                    <div class="form-group">
                      <label for="itemCollectDescription">Item Description</label>
                      <input type="text" class="form-control" id="itemCollectDescription{{this.id}}" placeholder="Describe Your Find...">
                    </div>

                    <div class="form-group">
                        <img class="collectImage" src='{{this.img_path}}' style='width: 100%; height: auto;'>
                    </div>

                    <div class="form-group">
                      <label for="collectItemTags">Tag Your Discovery</label>
                      <input type="text" class="form-control" id="collectItemTags{{this.id}}" placeholder="Ex: cute, cool, fun">
                    </div>

                    <div class="form-group">
                      <label for="ownerID">Owner</label>
                        <a>
                        {{#with User}}
                          <p>{{this.email}}</p>
                        {{/with}}
                        </a>
                    </div>

                </form>
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="collectBtnModalClose" data-id={{this.id}}>Close</button>
                  <button type="submit" class="btn btn-success" id="collectPostSubmit" data-owner={{this.owner_id}} data-img={{this.img_path}} data-category={{this.category_id}} data-id={{this.id}}>Collect!</button>
              </div>

          </div>

        </div>

      </div>
  {{/each}}
{{/each}}
{{!-- End 'Collect' Modal --}}
