
      <div class="modal fade postModal" id="openPostModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="openPostModalLabel{{this.id}}" aria-hidden="true" style="z-index: 20000;">

        <div class="modal-dialog" role="document">

          <div class="modal-content">

              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="postModalLabel">{{this.description}}</h4>
              </div>

              <div class="modal-body">
                <form id="clickedPostForm">

                    <div class="form-group">
                        <img class="postImage" src='{{this.img_path}}' style='width: 100%; height: auto;'>
                    </div>

                    <div class="form-group">
                        <label for="tags" id="tagsFor{{this.id}}">Tags</label>

                        {{#each Post2Tags}}
                            {{#with Tag}}
                            {{!-- <a href='/tag/{{this.id}}'> --}}
                            <div class="tagDiv">
                              <a href="#">
                                <span>{{this.name}}</span>
                              </a>
                            </div>
                            {{/with}}
                        {{/each}}

                    </div>

                    <div class="form-group">
                          <label for="likeDislike" class="form-control-label">Like/Dislike</label>
                          <button class='glyphicon glyphicon-heart like-btn' value={{this.id}} data-name={{this.upVote}} id='likeBtn'><span> {{this.upVote}}</span></button>
                          <button class='glyphicon glyphicon-thumbs-down down-btn' value={{this.id}} data-name={{this.downVote}} id='dislikeBtn'><span>{{this.downVote}}</span></button>
                    </div>

                    <div class="form-group">
                          <label for="collect" class="form-control-label">Collect</label>
                          <button class='collect-modal-btn' id='collectBtn' data-dismiss="modal" data-img="{{this.img_path}}" data-owner="{{this.owner_id}}" data-target="#openCollectModal{{this.id}}" data-toggle="modal"><span>C</span></button>
                    </div>

                    <div class="form-group">
                          <label for="userID">User</label>
                          <a href="/user/{{this.user_id}}">
                            {{#with User}}
                            <div class="user-email">
                                <p>{{this.email}}</p>
                            </div>
                            {{/with}}
                          </a>
                    </div>

                    <div class="form-group">
                          <label for="categoryID">Category</label>
                          <a href="/category/{{this.category_id}}">
                            {{#with Category}}
                              <div class="category-name">
                                <p>{{this.name}}</p>
                              </div>
                            {{/with}}
                          </a>
                    </div>

                </form>
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>

          </div>

        </div>

      </div>

