
      <div class="modal fade collectModal" id="openCollectModal{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="openCollectModalLabel{{this.id}}" aria-hidden="true" style="z-index: 20000;">

        <div class="modal-dialog" role="document">

          <div class="modal-content">

              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" id="collectClose" data-id={{this.id}} aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="collectModalLabel">Collect Me!</h4>
              </div>

              <div class="modal-body">
                <form id="collectPostForm{{this.id}}">

                    <div class="form-group">
                      <label for="itemCollectDescription">Item Description</label>
                      <input type="text" class="form-control" id="itemCollectDescription{{this.id}}" placeholder="Describe Your Find...">
                    </div>

                    <div class="form-group">
                        <img class="collectImage" src='{{this.img_path}}' style='width: 100%; height: auto;'>
                    </div>

                    <div class="form-group">
                      <label for="collectItemTags">Tag Your Discovery</label>
                      <input type="text" class="form-control" id="collectItemTags{{this.id}}" placeholder="Ex: cute, cool, fun">
                    </div>

                    <div class="form-group">
                      <label for="ownerID">Owner</label>
                        <a>
                        {{#with User}}
                          <p>{{this.email}}</p>
                        {{/with}}
                        </a>
                    </div>

                </form>
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="collectBtnModalClose" data-id={{this.id}}>Close</button>
                  <button type="submit" class="btn btn-success" id="collectPostSubmit" data-owner={{this.owner_id}} data-img={{this.img_path}} data-category={{this.category_id}} data-id={{this.id}}>Collect!</button>
              </div>

          </div>

        </div>

      </div>
